<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ this.description }}">
    <meta name="author" content="Andrew Shay">
    <meta name="keywords" content="andrew,shay,{{ this.tags }}">

    <meta name="theme-color" content="#48a5ab">
    <link rel="icon" sizes="192x192" href="{{ '/static/img/apple-touch-icon.png'|url }}">
    <link rel="shortcut icon" href="{{ '/static/img/favicon.ico'|url }}">
    <link rel="apple-touch-icon" href="{{ '/static/img/apple-touch-icon.png'|url }}">

    <link rel="stylesheet" href="{{ '/static/css/custom.css'|url }}">
    <link rel="stylesheet" href="{{ '/static/css/bootstrap.min.css'|url }}">
    <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Raleway' type='text/css'>
    <title>{{ this.title }} — andrewshay.me</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1285201-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-124185201-1');
    </script>
</head>


<body>
    <main role="main" class="container">
        <div id="inner-wrap">
            <!-- HEADER -->
            <div class="d-flex flex-column flex-md-row align-items-center" style="padding: 2rem 0 4rem 0;">
                <a class="my-0 mr-md-auto" href="/blog">
                <img style="max-width: 350px;" alt="print('andrewshay.me')"
                    src="{{ '/static/img/logo.png'|url }}">
                </a>
                <nav class="my-2 my-md-0 mr-md-3">
                    {% for href, title in [ ['/blog', 'BLOG'], ['/projects', 'PROJECTS'], ['/contact', 'CONTACT'] ] %}
                    <a class="p-2" href="{{ href|url }}">{{ title }}</a>
                    {% endfor %}
                </nav>
            </div>
            <!-- END HEADER -->

            <!-- main-row -->
            <div class="row main-row">

                <!-- main body -->
                <div class="col">

                    {% block body %}{% endblock %}

            </div>
            <!-- end main-row -->
            <div class="row">
                <div class="col">
                    <footer class="site-footer">
                        andrewshay.me
                    </footer>
                </div>
            </div>
        </div>
        <!--inner-wrap-->
    </main>

    <script src="./js/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="./js/popper.min.js" crossorigin="anonymous"></script>
    <script src="./js/bootstrap.min.js" crossorigin="anonymous"></script>

</body>
</html>