/*! HTML5 Boilerplate v5.0 | http://h5bp.com/ */
/* Andrew Shay | andrewshay.me */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

::-moz-selection {
    background: #48a5ab;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #48a5ab;
    color: #fff;
    text-shadow: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', 'Verdana', Sans-Serif;
    font-weight: 100;
    margin: 0;
    color: #48a5ab;
	overflow-wrap: break-word;
}


code {
    background: #48a5ab;
    color: #fff;
    padding: 3px 3px 3px 3px;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
	max-width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px;
    font-family: 'Verdana', Sans-Serif;
    background-color: #dcdcdc;
    height: 100%;
    margin: 0;
}

a {
    color: #48a5ab;
    text-decoration: none;
    outline: none;
	overflow-wrap: break-word;
}

.wrapper {
    width: 100%;
    margin: 0;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    /*border-bottom: 2px solid #48a5ab;*/
}

.footer-container{
    height: 100px;
    margin-top: 25px;
}

.header-container,
.footer-container,
.main aside {

}


/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: 100;
    font-family: 'Raleway', 'Verdana', Sans-Serif;

    color: #fff;
    background: #48a5ab;
}

nav a:hover,
nav a:visited {
    color: #fff;
}

nav a:hover {
    text-decoration: none;
    border: none;
}

.master-wrap{
    background-color: #f8f8f8;
    padding: 0px 10px 0px 10px;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
    margin-top: 20px;
    text-align: left;
    color: #666460;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container {
    padding-top: 50px;
}

.footer-container footer {
    padding: 20px 0;
    text-align: center;
    font-size: 1em;
    color: #cccccc;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.meta {
    color: #c3c3c3;
    font-size: 0.8em;
    margin-top: 0px;
}

.main-container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}

.push {
    height: 100px;
}

.donate {
    width: 70px;
    height: 20px;
    background-color: #48a5ab;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    color: #fff;
    font-family: 'Comfortaa', 'Verdana', Sans-Serif;
    font-size: 0.8em;
    display: block;
}

.download-bar {
    padding-top: 40px;
}

.download-bar img {
    width: 67px;
    padding: 0px 15px 0px 15px;
}

#logo {
    width: 90%;
    padding: 20px 0px 20px 5%;
}

.content-right {
    margin-top: 30px;
}

.content-left {
    text-align: justify;
    margin: 0px 10px 0px 10px;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav {
        width: 100%;
    }

    nav ul {
        width: 100%;
        padding: 0;
        display: block;
        text-align: center;
    }

    nav li {
        width: 30.2%;
        margin: 0px 5px 0px 5px;
        display:inline-block;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    #logo {
        padding-left: 15px;
        margin-top: 10px;
        width: 350px;
    }


}

@media only screen and (min-width: 768px) {

/* ===============
    Maximal Width
   =============== */
    .master-wrap {
        width: 750px;
        margin-left: auto;
        margin-right: auto;
        box-shadow:0px 0px 10px #c0c0c0;
        padding: 0;
    }

    .donate {
        margin-top: 10px;
    }

    .header-container {
        height: 100px;
    }

    .wrapper {
        width: 700px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    .content-left{
        float: left;
        width: 100%;
        margin: auto;
    }

/*
    .content-right{
        float: right;
        width: 174px;
        margin: 0;
    }
*/

    .content-wrapper{
        width: 100%;
        text-align: left;
    }

    nav ul {
        margin: 0;
        padding: 43px 0px 0px 0px;
        list-style-type: none;
        float: right;
        width: 350px;
    }

    nav li {
        width: auto;
        margin: 0px 5px 0px 5px;
        display: inline-block;
    }

    nav a {
        display: block;
        margin: 0px 0px 0px 0px;
        padding: 0px;

        text-align: center;
        text-decoration: none;
        color: #c3c3c3;
        background: none;
    }

    nav a:visited {
        color: #c9c9c9;
    }

    nav a:hover {
        color: #48a5ab;
        text-decoration: none;
    }

    #logo {
        padding: 33px 0px 20px 0px;
        margin: 0px 0px 0px 0px;
        width: 350px;
    }

    .header-container img {
        float: left;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
